.inputCor {
  border: none;
  outline: none;
  appearance: none;
  vertical-align: top;
  cursor: pointer;
  width: 2.3rem;
  height: 2.3rem;
}
.inputCor::-webkit-color-swatch-wrapper {
  padding: 0;
}
.inputCor::-moz-color-swatch-wrapper {
  padding: 0;
}
.inputCor::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}
.inputCor::-moz-color-swatch {
  border: none;
  border-radius: 5px;
}
